# Build and Release Folders
*__pycache__/
*.ipynb_checkpoints/

# dataset
dataset/

# Other files and folders
.vscode/
*logs/
ModelSave/
figures/
jsons/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
*.ipynb_checkpoints/
*.json


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# demo scripts
wttest.ipynb
app_uq_ensemble_debug.py
Spatio-temporal-Diffusion-Point-Processes.code-workspace
# ensemble-test.md
ensemble-test.md
